<div id="container-quizz">

  <form (ngSubmit)="onSubmit()" [formGroup]="resultatForm" class="flex flex-vertical flex-center">

    <app-input-number (NumberChangeEvent)="setValeurFormNbQ($event)"></app-input-number>
    <app-select-theme (ChoixEvent)="setValeurFormTheme($event)"></app-select-theme>
    <app-select-niveau (ChoixEvent)="setValeurFormNiveau($event)"></app-select-niveau>
    <app-button-valid class="margin-3" type=submit [(isDisabled)]="resultatForm.invalid"></app-button-valid>

  </form>

</div>