#container-quizz .container-input {
  margin    : 1rem;
  box-sizing: border-box;
}



#container-quizz form select,
#container-quizz form option,
#container-quizz form input {
  min-height: 3rem;
  min-width : 4rem;
  text-align: center;
}

#container-quizz label {
  text-align: center;
}

#container-quizz .container-input select {
  
}

#container-quizz .container-input .mybox {
  position: relative;
  display : inline-block;
}


#container-quizz .container-input .mybox .myarrow {
  width         : 26px;
  height        : 36px;
  position      : absolute;
  display       : inline-block;
  top           : 7px;
  right         : 6px;
  background    : url(../../../assets/Images/arrow-down.svg) center / 90% no-repeat;
  pointer-events: none;
}