<form class="creation-compte-form">
  <span class="creation-compte">
    <div class="creationcompte-input">
      <input type="text" id="nameInput" placeholder="Nom">
    </div>
    <div class="creationcompte-input">
      <input type="text" id="lastNameInput" placeholder="Prenom">
    </div>
    <div class="creationcompte-input">
      <input type="text" id="mailInput" placeholder="Mail">
    </div>
    <div class="creationcompte-input">
      <input type="text" id="passwordInput" placeholder="Mot de passe">
    </div>
    <button class="creation-button" type="submit">Valider</button>
  </span>
</form>