.wrapper {
    margin: 3rem 0rem;
}

.admin{
  display: flex;
  flex-direction : column;
}

h1 {
  text-align: center;
}

.bouttonPermission{
  height: 25em;
  display: flex;
  flex-direction : column;
  justify-content: space-between;
  justify-content: space-around;
  
}

.bouttonPermission > input {
  align-self: center;
  border-radius: 8px;
  width: 22rem;
  height: 3rem;
  margin: 0.1rem;
  border: unset;
  outline: none;
  color: white;
  background-color: #21db4f;
}
  
  