<div class="wrapper">
    <h1>Permissions</h1>

    <div class="bouttonPermission" [routerLinkActive]="['link-active']">
        
        <input *ngIf="canModifyOrSupprCompte()" type="button"  [routerLink]="['/comptes']" value="Modifier/Supprimer Compte">
        <input *ngIf="AjouterQuest" type="button" value="Ajouter une Question">
        <input *ngIf="ModifierQuest" type="button" value="Modifier une Question">
        <input *ngIf="SupprQuestion" type="button" value="Supprimer une question">
        <input *ngIf="GenererQuizz" type="button" [routerLink]="['/permission/quizzlist']" value="Supprimer un quizz">
    </div>
</div>