#container-quizz .container-input {
  margin: 1rem;
  min-width: 16rem;
  box-sizing: border-box;
}

/*
#container-quizz form button {
  min-width: 10rem;
  margin-top: 3rem;
  padding: 0.5rem;
  background-color: #21db4f;
  border-radius: 10px;
  border: 0;
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}
*/

/*
#container-quizz .container-input button:hover {
  background-color: #1ceb4f;
}
*/

#container-quizz .container-input button:active {
  position: relative;
  top: 1px;
}

#container-quizz form select,
#container-quizz form input {
  min-height: 3rem;
  min-width: 4rem;
  text-align: center;
}

#container-quizz label {
  text-align: center;
}

#input-quest {
  width: 93%;
  align-self: center;
}
