
<div class="container">

    
    <div class="admin">
      <ul><label>Administarteur : </label>
            <li>
                <label>Nom </label>
            </li>
            <li>
                <label>Prenom </label>
            </li>
        </ul>
    </div>
    <h1>Permission</h1>

    <div class="bouttonPermission">
        
        <input type="button" value="Modifier Compte">
        <input type="button" value="Supprimer Compte">
        <input type="button" value="Ajouter une Question">
        <input type="button" value="Modifier une Question">
        <input type="button" value="Supprimer une question">
        <input type="button" value="Générer Quizz">
    </div>

</div>