@keyframes slideInFromBottom{
    0% {
        transform: translateX(80%);
    }
    100%{
        transform: translateX(0);
    }
}

.creation-compte-form{
    display: inline-block;
    margin-left: 8em;
    animation: 1s 1 slideInFromBottom;
}

.creation-compte{
    background-color: white;
    display: table;
    border-radius: 8px;
    box-shadow: 0 0 1em 0.1em white;

    margin-top: 4em;
}

.creationcompte-input{
    display: table-row;
    border-radius: 8px;
}

.creationcompte-input input{
    width: 350px;
    height: 45px;
    margin: 7px;
    padding-left: 25px;
    border-color: rgb(180, 180, 180);
    border-width: 0.03em;
    border-radius: 10px;
}

.creationcompte-input input:focus{
    outline-width: 0;
    border-radius: 10px;
    border-color: rgb(83, 138, 248);
    box-shadow: 0 0 0.1em 0.03em rgb(83, 138, 248);
}

.creation-button{
    background-color: rgb(66, 103, 178);
    border-radius: 8px;
    width: 350px;
    height: 45px;
    margin: 7px;
    transition: background-color 1s;
    color: white;
}

.creation-button:hover{
    background-color: rgb(41, 75, 143);
}