<div class="flex flex-align-i-center flex-column wrapper">

  <app-enonce [text]="enonce"></app-enonce>

  <div class="flex flex-align-i-center flex-column wrapper">
    <h2>Votre réponse : </h2>
    <app-dragabble-text-input (change)="onAnswerChange"></app-dragabble-text-input>
  </div>

  <div class="flex flex-align-i-center flex-column wrapper">
    <h2>Commentaire : </h2>
    <app-dragabble-text-input (change)="onComentChange"></app-dragabble-text-input>
  </div>

  <app-button-valid Message="Valider la réponse" (click)="handleClick()"></app-button-valid>

</div>
