.rectangle{
    display: flex;
    flex-direction: row;
    flex-grow: 0;

    height : 7rem;
    width : 30rem;
    background-color: #50536f;
    margin: 10px;
    border-radius: 25px;
    justify-content: center;
    align-items: stretch;
    transition: background-color 1s, color 1s;
}

.rectangle:hover{
    background-color: #1f213d;
}

.rectangle p{
    margin-left: 25px;
}

.containerButton{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex: 2 0 0;
}

.containerButton > button{
    font-size: 1rem;
    padding: 0.4rem 2.6rem;
    border-radius: 10px;
    border: unset;
    outline: none;
    margin: 0.5rem 0.5rem;
}

.containerButton > .deleteButton {
    background-color: red;
    padding: 0.3rem 3rem;
}

.containerButton > .modifyButton {
    background-color: orange;
    padding: 0.3rem 3.4rem;
}

.containerButton > .modifyButton:hover{
    background-color: rgb(255,105,30);
}

.containerButton > .deleteButton:hover{
    background-color: rgb(180, 0, 0);
}

.containerButton > .ValidateButton{
    padding: 0.3rem 3.8rem;
}

.containerButton > .ValidateButton:hover{
    background-color: rgb(200,200,200);
}