<div class="rectangle">
    <div>
        <p>{{this.compte.nom}} {{this.compte.prenom}}</p>
        <div>
            <p>{{this.compte.role}}</p>
        </div>
        <div>
            <p>{{this.compte.mail}}</p>
        </div>
    </div>
    
    <div class="containerButton">
        <button class="modifyButton" [routerLinkActive]="['link-active']" [routerLink]="['/permission']" >Modifier</button>
        <button class="ValidateButton">Valider</button>
        <button class="deleteButton" (click)="supprimerCompte()">Supprimer</button>
    </div>
</div>