.rectangle{
    display: flex;
    flex-direction: row;
    flex-grow: 0;

    height : 7rem;
    width : 30rem;
    background-color: #50536f;
    margin: 10px;
    border-radius: 25px;
    justify-content: center;
    align-items: stretch;
    transition: background-color 1s, color 1s;
}

.rectangle:hover{
    background-color: rgb(250, 248, 242);
}

.rectangle:hover p{
    color: rgb(252, 1, 1);
}

.rectangle p{
    margin-left: 25px;
}

.containerButton{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex: 2 0 0;
}

.containerButton > button{
    font-size: 1rem;
    padding: 0.4rem 2.6rem;
    border-radius: 10px;
    border: unset;
    outline: none;
    margin: 0.5rem 0.5rem;
}

.deleteButton {
    background-color: red;
}

.containerButton .modifyButton {
    background-color: orange;
    padding: 0.3rem 3rem;
}