<div class="rectangle">
    <div>
        <p>{{this.compte.nom}} {{this.compte.prenom}}</p>
        <div>
            <p *ngIf="!modifying">{{this.compte.role}}</p>
            <app-select-permission *ngIf="modifying" [compte]="compte" (choixEvent)="permissionSelect($event)"></app-select-permission>
        </div>
        <div>
            <p>{{this.compte.mail}}</p>
        </div>
    </div>
    
    <div class="containerButton">
        <button class="modifyButton" (click)="startModify()" >Modifier</button>
        <button *ngIf="modifying" class="ValidateButton" (click)="validateModifyPermission($event)">Valider</button>
        <button *ngIf="!modifying" class="deleteButton" (click)="supprimerCompte()">Supprimer</button>
    </div>
</div>