/* --- Modif CSS Globales --- */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

html ,
body {
  color: rgb(220, 220, 220);              /* Texte global */
  background-color: #5952B4 /*#0D1B2A*/ ; /* Couleur de fond */
 
}
