
     <ul *ngFor="let complexite of valRetourRequeteComplex">
        <div  class="card" style="width: 18rem;" >
            <div  class="card-header">
                {{ complexite.niveau  }}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> % questions juniors: {{ complexite.question_junior }}</li>
              <li class="list-group-item"> % questions confirmées: {{ complexite.quest_confirme }}</li>
              <li class="list-group-item"> % questions experimentées: {{ complexite.question_experimente }} </li>
              <li class="list-group-item">  <button class="deleteButton" (click)="supprimerNiveau()">Supprimer {{ complexite.pk_complexite}}</button></li>
            </ul>
          </div>
  
     </ul>
      
 