
  <h3>{{dataQ.$Enonce}}</h3>

  <div class="flex">

    <div class="flex flex-column">
      <app-bouton-reponse-qcm [text]="rep1" (click)="GetClick(0)"></app-bouton-reponse-qcm>
      <app-bouton-reponse-qcm [text]="rep2" (click)="GetClick(1)"></app-bouton-reponse-qcm>
    </div>

    <div class="flex flex-column">
      <app-bouton-reponse-qcm [text]="rep3" (click)="GetClick(2)"></app-bouton-reponse-qcm>
      <app-bouton-reponse-qcm [text]="rep4" (click)="GetClick(3)"></app-bouton-reponse-qcm>
    </div>

  </div>

  <h5>Commentaire : </h5>
  <app-dragabble-text-input (change)="onComentChange($event)"></app-dragabble-text-input>
