.wrapper-input-number {
    margin : 1rem;
}

.title {
    text-align   : center;
    margin-bottom: 0.5rem;
}

input {
    background-color  : white;
    border            : unset;
    appearance        : none;
    border-radius     : 4px;
    min-width         : 16rem;
    -webkit-appearance: none;
    -moz-appearance   : textfield;
    padding           : 11px;
    text-align        : center;
}