<header>

  <nav class="navbar-container">

    <!-- Elements de navigation -->
    <ul class="navbar-inner-container">

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/login']">Acceuil</a>
      </li>

      <li class="nav-item" *ngIf="hasAccessTo('GenererQuizz')" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/creer-quizz']">Generation de quizz</a>
      </li>

      <li class="nav-item" *ngIf="hasAccessTo('GenererQuizz')" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/creer-niveau']">Creer un niveau</a>
      </li>

      <li class="nav-item" 
        *ngIf="hasAccessTo('AjouterQuest') || hasAccessTo('ModifierQuest') || hasAccessTo('SupprQuestion')" 
        [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/gestion-quizz']">Gestion de quizz</a>
      </li>

      <li class="nav-item" *ngIf="hasAccessTo('GenererQuizz')" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/assignation-quizz']">Assignation de quizz</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/permission']">Permissions</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/page-demarrage/qjtFqUAORkC1WudxIB6w']">Page debut quizz</a>
      </li>


      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/reponse-qcm']">qcm</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/reponse-libre']">qcmLibre</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/creation-question']">Creation question</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/resultats']">Resultats</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/profil']">Profil</a>
      </li>

    </ul>

  </nav>
</header>
