<header>

  <nav class="navbar-container">

    <!-- Elements de navigation -->
    <ul class="navbar-inner-container">

      <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link " [routerLink]="['/']">Acceuil</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/gen-quizz']">Generation de quizz</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/gest-quizz']">Gestion de quizz</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/assign-quizz']">Assignation de quizz</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/permission']">Permisisons</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/qcm']">qcm</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/qcm-libre']">qcmLibre</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/comptes']">Comptes</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/gen-niveau']">Creer un niveau</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/crea-quest']">Creation question</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link " [routerLink]="['/resultats']">Resultats</a>
      </li>

    </ul>

  </nav>
</header>