<div class="container-component-assign flex flex-vertical">
  <button id="btn-retour" [routerLink]="['/gen-quizz']">Retour</button>

  <div class="container-assign flex flex-vertical flex-align-i-center">

    <label id="nom-candidat">A qui assigner ce quizz {{dataQuizz.formValue.theme | titlecase }}
      {{dataQuizz.formValue.complexite |
      titlecase}}</label>

    <div class="mybox">
      <span class="myarrow"></span>
      <select id="select-candidat">
        <option *ngFor="let candidat of valRetourRequeteCompteAssigne">{{candidat.nom | titlecase}}, {{candidat.mail}}
        </option>
      </select>
    </div>

    <button id="btn-valider" class="btn-valid">Valider</button>

  </div>
</div>
