<div class="container-component-assign">
  <button class="btn-retour" [routerLink]="['/gest-quizz']">Retour</button>

  <div class="container-assign flex flex-vertical flex-align-i-center">

    <label id="nom-candidat">Johnny Label</label>

    <select id="select-candidat">
      <option>Snoopy</option>
      <option>Un chien aven un joli polo bleu</option>
      <option>Le géant vert (celui des boites de conserve la)</option>
    </select>

    <button id="btn-valider">Valider</button>

  </div>
</div>
