<div class="container-component-assign flex flex-vertical">
  <button id="btn-retour" [routerLink]="['/gen-quizz']">Retour</button>

  <div class="container-assign flex flex-vertical flex-align-i-center">

    <label id="nom-candidat">A qui assigner ce quizz {{dataQuizz.formValue.theme | titlecase }}
      {{dataQuizz.formValue.complexite |
      titlecase}}</label>

    <app-select-compte-candidat></app-select-compte-candidat>
    <app-button-valid class="margin-1" ></app-button-valid>
    <app-button-ajouter-nouveau-candidat></app-button-ajouter-nouveau-candidat>
  </div>
</div>