<div class="container-component-assign container flex flex-vertical">
  <button id="btn-retour" [routerLink]="['/creer-quizz']">Retour</button>

  <form [formGroup]='resultatForm'  (ngSubmit)="onSubmit()">
    <div class="container-assign flex flex-vertical flex-align-i-center">

      <label id="nom-candidat">A qui assigner ce quizz </label>

      <app-select-compte-candidat  (ChoixEvent)="setValeurFormIDCandidat($event)"></app-select-compte-candidat>
      <app-button-valid class="margin-1"></app-button-valid>
      <!-- <app-button-ajouter-nouveau-candidat></app-button-ajouter-nouveau-candidat> -->

    </div>
  </form>
</div>