#btn-retour {
  position: absolute;
  float: left;
  border-radius: 10px;
  background-color: #EEB728;
  border: 0px;
  color: white;
  padding: 0.5rem 2rem;
  font-size: large;
}

.container-component-assign {
  font-size: x-large;
  padding: 3rem;
}

