.title {
    font-size: large;
}

input {
    cursor           : pointer;
    -ms-transform    : scale(1.5);
    -moz-transform   : scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform     : scale(1.5);
    transform        : scale(1.5);
}

.wrapper {
    margin: 1rem 0;
}