.navbar-container {
  background-color: rgba(0, 0, 0, 0.50);
  font-size: large;
}

.navbar-inner-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.navbar-container li a {
  color: whitesmoke;
  text-decoration: none;
  padding: 1rem;
  margin: 0 0.5rem 0 0;
}

.navbar-container li a:hover {
  color: white;
}
