<header>

  <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">

    <div class="container">

      <a class="navbar-brand" [routerLink]="['/']">Super site de Quizz</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Elements de navigation -->
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">

          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link " [routerLink]="['/']">Acceuil</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link " [routerLink]="['/gen-quizz']">Generation de quizz</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link " [routerLink]="['/gest-quizz']">Gestion de quizz</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link " [routerLink]="['/login']">Login</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link " [routerLink]="['/assign-quizz']">Assignation de quizz</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link " [routerLink]="['/chronometre']">Chronometre</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link " [routerLink]="['/permisison']">Permisisons</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link " [routerLink]="['/resultats']">Resultats</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>
