@keyframes slideInFromBottom{
    0% {
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}

.comptes{
    animation: 3s 1 slideInFromBottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}