
.candidat{

    display: flex;
    flex-wrap:wrap;
    flex-direction : column;
}
.chrono
{
    display: flex;
    justify-self:center;
    height: 100;
    width: 70;
}
.p{
    display: flex;
    align-items: center;
    font: size 32px;
}
.Bravo{
    display: flex;
    align-self :flex-end;
    
} 
.h1{
    font-size:32px;
}
.container{
    display: flex;
    justify-content:center;
}