


<!--<div class="chrono"><app-chronometre></app-chronometre></div>!-->

    <div class="row">
        <div class="col-md-9">
           <!-- <div class="candidat">Candidat:
                <label>{{compte.nom}} </label>
                <label>{{compte.prenom}}</label>
            </div>!-->
        </div>
        <div class="col-md-3">
            <div class="chrono"><app-chrono></app-chrono></div>
        </div>
    </div>
    
    <div class="text-center">
       <h1>Test Compétence</h1>
    </div>
    
    <div class="text-center">
        <div class="text-center">
            <h5><br>Bravo,<br></h5>
            <p>
                Vous avez finit le test<br>
                les resultats ont été envoyer à votre recruteur<br>
                qui se chargeras de vous les communiquer <br>
            </p>
        
         </div>
    </div>

           

            <div class="bravo">
            <div class="row">
                <div class="col-md-8">
                    <img src="..\..\assets\Images\bravo.png" value="ImgBravo" Id="bravoR">
                </div>
                <div class="col-md-3">
                    <img src="..\..\assets\Images\bravo.png" value="ImgBravo" Id="bravoL">
                </div>
            </div>
        </div>

    
    

 
