p {
    font-size: large;
    margin   : 2em;
}

::ng-deep button {
    margin-left: 4em;
    margin-top: 2em;
}

app-chrono{
    margin: 2em;
}

#container1{
    margin-left: 22rem;
    margin-top: 2rem;
}

#container-rep{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#reponse{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 20rem;
}

app-chrono{
    margin-top: 1rem;
}