<div id="container1" *ngIf="showWelcome">
  <h2>Vous allez debuter le quizz</h2>
  <p>Nous vous souhaitons bonne chance !</p>
  <app-button-valid Message="Commencer" (click)="handleClick()" [isDisabled]="!isReady"></app-button-valid>
</div>
  
<div id="container2">
  <app-chrono *ngIf="componentChronoEnabled"></app-chrono>

  <app-page-reponse-qcm *ngIf="componentRepQCMEnabled" [dataQuestion]="dataQuestion"
    (estRepondu)="incrementNBQuestionRep()">
  </app-page-reponse-qcm>
  
  <app-page-reponse-libre *ngIf="componentRepLibreEnabled" [dataQuestion]="dataQuestion"
    (estRepondu)="incrementNBQuestionRep()">
  </app-page-reponse-libre>
</div>
