p {
    font-size: large;
    margin   : 2em;
}

::ng-deep button {
    margin-left: 4em;
    margin-top: 2em;
}

app-chrono{
    margin: 2em;
}

#container1{
    margin-left: 22rem;
    margin-top: 2rem;
}

#container2{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    margin-left: 22rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}