<div id="quizz-question-container">

  <h2>A labore porro est iure ratione ea officia velit a placeat galisum et internos perspiciatis ut nemo accusamus? A
    ut repellat aliquam qui voluptate soluta non unde consequuntur ut tempora amet ut fugiat corporis et earum itaque
    hic itaque quisquam. Quo tenetur officiis aut sunt deserunt ad dignissimos eaque. Aut aliquid recusandae eum modi
    nobis in
    blanditiis cum repudiandae eius. </h2>

  <div class="flex flex-center" id="container-button">

    <div class= "flex flex-vertical">
      <button> Bouton </button>
      <button> Bouton </button>
    </div>

    <div class= "flex flex-vertical">
      <button> Bouton </button>
      <button> Bouton </button>
    </div>

  </div>

</div>
